# REQUIRED
ALLOWED_ISSUERS=["<ISSUER>","<ISSUER>"]
AUTHENTIK_URL=http://localhost:9000

# REQUIRED (for auth router)
CLIENT_ID=<Aplications->Providers-><Provider>->client_id>
CLIENT_SECRET=<Aplications->Providers-><Provider>->client_secret>
APPLICATION_SLUG=<Aplications->Applications-><Application>->Slug>
LOGIN_REDIRECT_URI=<Aplications->Providers-><Provider>->Redirect_URIs>

# OPTIONAL
SEND_ACCESS_TOKEN_AS_COOKIE=<bool>
SEND_ACCESS_TOKEN_IN_JSON_RESPONSE=<bool>