AUTH_BASE_URL=https://localhost:8000
USE_STATICS=False
STATIC_JWT_USER={"id":"de3fd2de-b58c-4c93-92fb-4c28ec84e6bb","roles":["student","admin"],"permissions":["auth:users:create","auth:users:read","auth:users:update","auth:users:delete"]}
STATIC_USER={"id":"de3fd2de-b58c-4c93-92fb-4c28ec84e6bb","last_name":"Ivanov","first_name":"Ivan","middle_name":"Ivanovich","roles":["student","admin"],"gender":"male","class_name":"10В","graduation_year":2027,"login":"IvanovIvan1234567","permissions":["auth:users:create","auth:users:read","auth:users:update","auth:users:delete"],"created_at":"2026-05-02T23:13:13.857879","updated_at":"2026-05-02T23:13:13.857879"}